<p id="notice"><%= notice %></p>

<p>
  <strong>M common name:</strong>
  <%= @matrix.matrixname.m_common_name %>
</p>

<p>
  <strong>M genus:</strong>
  <%= @matrix.m_genus_id %>
</p>

<p>
  <strong>M species:</strong>
  <%= @matrix.m_species_id %>
</p>

<p>
  <strong>Other matrix name:</strong>
  <%= @matrix.other_matrix_name %>
</p>

<p>
  <strong>Plant part:</strong>
  <%= @matrix.plant_part_id %>
</p>

<p>
  <strong>Storage form:</strong>
  <%= @matrix.storage_form_id %>
</p>

<p>
  <strong>Product form:</strong>
  <%= @matrix.product_form_id %>
</p>

<p>
  <strong>Place of origin:</strong>
  <%= @matrix.place_of_origin %>
</p>

<p>
  <strong>Date of harvest:</strong>
  <%= @matrix.date_of_harvest %>
</p>

<p>
  <strong>Relative humidity during harvest:</strong>
  <%= @matrix.relative_humidity_during_harvest %>
</p>

<p>
  <strong>Temperature during harvest:</strong>
  <%= @matrix.temperature_during_harvest %>
</p>

<p>
  <strong>Pre treatment:</strong>
  <%= @matrix.pre_treatment %>
</p>

<p>
  <strong>Sampling date:</strong>
  <%= @matrix.sampling_date %>
</p>

<p>
  <strong>M ph:</strong>
  <%= @matrix.m_ph %>
</p>

<p>
  <strong>M aw:</strong>
  <%= @matrix.m_aw %>
</p>

<p>
  <strong>Humidity of matrix:</strong>
  <%= @matrix.humidity_of_matrix %>
</p>

<p>
  <strong>Ash:</strong>
  <%= @matrix.ash %>
</p>

<p>
  <strong>Sand:</strong>
  <%= @matrix.sand %>
</p>

<p>
  <strong>Lipids:</strong>
  <%= @matrix.lipids %>
</p>

<p>
  <strong>Further ingredients:</strong>
  <%= @matrix.further_ingredients %>
</p>

<p>
  <strong>M comment:</strong>
  <%= @matrix.m_comment %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @matrix.reference_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @matrix.user_id %>
</p>

<%= link_to 'Edit', edit_matrix_path(@matrix) %> |
<%= link_to 'Back', matrices_path %>
